[Unit]
Description=Battery Monitor Service

[Service]
Type=simple
Restart=always
ExecStart=/usr/local/bin/batmon

[Install]
WantedBy=multi-user.target
